/* -------------------------------------обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family:"Montserrat";
    background-color: #f1f1f1;
}
.wrapper {
    min-height: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}
/* --------------------------технический класс */
._container {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------------------------------------header */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {  
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin-left: 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px; 
    }
}
.menu {
    padding: 5px 0;
}
.menu_list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin-right: 21px;
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    transition: color 0.3s ease 0s;
}
.menu__link:hover {
    color: #FF7B47;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/* -----------------------------------------------------------------PAGE */
.page {
    flex: 1 1 auto;
}
.page__services {
    margin-top: -111px;
    position: relative;
    z-index: 2;
}
/* .page__whoweare {
} */
/* .page__clients {
} */
/* .page__subscribe {
} */
/* .page__getintouch {
} */
/* .page__contactus {
} */
/* .page__practice {
} */
/* -----------------------------------------------------------------header-block-H3 */
.header-block {
    text-align: center;
    letter-spacing: 0.5px;
}
.header-block__title {
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    } 
}
@media (max-width: 767px) {
    .header-block__title {
        font-size: 30px;
    } 
}
.header-block__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.header-block__subtitle {
    color: #737373;
    line-height: 142%;
}
/* ------------------------------------------------------------------main */
.main-block {
    position: relative;
}
.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width: 420px) {
    .main-block__body {
        padding-top: 90px;
    }
}
.main-block__body > *:not(:last-child) {
    margin: 0 0 35px 0;
}
.main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.5px;
}
@media (max-width: 420px) {
    .main-block__title {
        font-size: 40px;
    }
}
.main-block__text {
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #737373;
    letter-spacing: 0.5px;
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 150%;
    text-align: center;
    min-height: 48px;
    padding: 0 36px;
    margin: 10px 0;
}
@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}
.main-block__button:not(:last-child) {
    margin-right: 10px;
}
.main-block__button_orange {
    background-color: #FF7B47;
    color: #fff;
    transition: color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}
.main-block__button_orange:hover {
    background-color: transparent;
    outline: 1px solid #FF7B47;
    color: #FF7B47;
}
.main-block__button_transparent {
    border: solid 1px #0D5C63;
    color: #0D5C63;
    transition: color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}
.main-block__button_transparent:hover {
    background-color: #0D5C63;
    color: #fff;
}
.main-block__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@media (max-width: 1300px) {
    .main-block__img img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__img img {
        opacity: 0.5;
    }
}
/* ----------------------------------------------------------------------services */
.services__body {
    margin: 0 -15px -30px;
}
@media (min-width: 594px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
    }
}
.services__column { 
    padding: 0 15px 30px;
    flex: 0 1 33.333%;
} 
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 992px) {
    .services__column:last-child {
        flex: 0 1 100%;
    }
}
.services__item {
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px 40px;
    height: 100%;
    transition: background-color 0.5s ease;
}
.item-services:hover {
    background-color: #0D5C63;
}
.item-services:hover .item-services__logo svg path {
    fill: #ffffff;
}
.item-services:hover .item-services__title {
    color: #fff;
}
.item-services:hover .item-services__text {
    color: #fff;
}
.item-services > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-services__title {
    font-size: 24px;
    font-weight: 700px;
    line-height: 133%;
    letter-spacing: 0.5px;
}
.item-services__text {
    color: #737373;
    line-height: 142%;
    letter-spacing: 0.5px;
}
/* -----------------------------------------------------------------------------advantage */
.advantage {
    padding: 80px 0;
}
@media (max-width: 920px) {
    .advantage {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantage {
        padding: 30px 0;
    }
}
.advantage__header {
    margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
    .advantage__header {
        margin: 0px 0px 25px 0px;
    }
}
.advantage__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}
.advantage__columns {
    flex: 0 1 25%;
    padding: 0px 15px 30px;
}
@media (max-width: 1020px) {
    .advantage__columns {
        flex: 0 1 50%;
    }
}
@media (max-width: 595px) {
    .advantage__columns {
        flex: 0 1 100%;
    }
}
.advantage__item {
    background-color: #fff;
    height: 100%;
    padding: 30px;
    text-align: center;
}
.advantage__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.advantage__icon {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantage__value {
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
    letter-spacing: 0.5;
}
.advantage__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #737373;
}
/* --------------------------------------------------------------------------practice */
.practice {
    padding: 125px 0 80px;
}
@media (max-width: 992px) {
    .practice {
        padding: 50px 0 80px;
    }
}
@media (max-width: 767px) {
    .practice {
        padding: 20px 0 80px;
    }
}
.practice__header {
    margin: 0px 0px 45px 0px;
}
.practice__body {
    display: flex;
    margin: 0px -20px -20px;
    flex-wrap: wrap;
}
.practice__column {
    flex: 0 1 25%;
    padding: 0px 20px 20px;
}
@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}
.item-pactice {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-pactice__content {
    background-color: #fff;
    padding: 30px;
    flex: 1 1 100%;
}
.item-pactice__title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.item-pactice__text {
    line-height: 143%;
    letter-spacing: 0.5px;
    color: #737373;
}
.item-pactice__image {
    display: block;
    /* height: 138px; */
    padding: 0 0 60% 0;
}
/* --------------------------------------------------------------------------who we are */
.whoweare {
    padding: 100px 0 136px 0; 
    background-color: #fff;
}
.whoweare__header {
    margin-bottom: 100px;
}
.whoweare__body {
    display: flex;
    align-items: flex-start;
}  
.whoweare__video {
    flex: 0 0 57.144%;
    position: relative;
    padding: 0 0 42.096% 0;
}
.whoweare__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}
@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0 0 0 60px;
    }
    .whoweare__title {
        font-size: 30px;
    }
}
.whoweare__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.5px;
    margin: 0 0 10px 0;
}
.whoweare__text {
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0px 0px 10px 0px;
}
.whoweare__items {
    margin: 50px 0px 0px 0px;
}
.item-whoweare {
    display: flex;
}
.item-whoweare:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
@media (max-width: 950px) {
    .whoweare__content {
        padding: 0 0 0 0;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__title {
        font-size: 20px;
    }
    .whoweare__header {
        margin: 0px 0px 30px 0px
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
    .whoweare__video {
        padding: 0 0 56.25% 0;
    }
}
/* --------------------------------------------------------------------------clients */
.clients {
    padding: 40px 0;
}
@media (max-width: 767px) {
    .clients {
        padding: 20px 0;
    }
} 
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item {
    padding: 10px;
    flex: 0 1 16.666%;
    text-align: center;
    min-width: 140px;
}
.clients__item img {
    max-width: 100%;
}
/* --------------------------------------------------------------------------subscribe */
.subscribe {
    position: relative;
    padding-bottom: 20px;
}
.subscribe::before {
    content: "";
    background: #252B42;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
}
.subscribe__body {
    position: relative;
    z-index: 2;
    margin: 20px 0px;
    padding: 30px 50px;
    background-color: #17213C;
    align-items: center;
    border-radius: 3px;
}
@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0px 30px;
    }
}
@media (min-width: 810px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
    .subscribe__title {
        max-width: 300px;
    }
}
.subscribe__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.2px;
    flex: 0 1 50%;
}
@media (min-width: 810px) {
    .subscribe__title {
        max-width: 300px;
    }
}
@media (max-width: 810px) {
    .subscribe__title {
        margin: 0px 0px 20px 0px;
    }
    .subscribe__body {
        padding: 20px 25px;
        margin: 0 -15px;
    }
}
@media (max-width: 999px) {
    .subscribe__title {
        flex: 0 1 100%;
        width: 100%
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
}
@media (max-width: 999px) {
    .subscribe__form {
        flex: 0 1 100%;
        
    }
}
.subscribe__input {
    flex: 1 1 auto;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
    color: #737373;
    background-color: #f9f9f9 ;
}
.subscribe__input:focus {
    color: #FF7B47;
}
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    line-height: 200%;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 22px;
    transition: background-color 0.3s ease
}
.subscribe__button:hover {
    background: #17213C;
    color: #fff;
    cursor: pointer;
}
/* --------------------------------------------------------------------------getintouch */
.getintouch {
    padding: 80px 0 148px 0;
}
@media (max-width: 767px) {
    .getintouch {
        padding: 60px 0 90px 0;
    }
}
.getintouch__header {
    margin: 0px 0px 80px 0px;
}
@media (max-width: 767px) {
    .getintouch__header {
        margin: 0px 0px 40px 0px;
    }
}
@media (min-width: 992px) {
    .getintouch__items {
        display: flex;
        align-items: center;
        padding: 0 32px;
    }
}  
@media (max-width: 992px) {
    .getintouch__item {
        margin: 0px -15px;
    }
}  
.getintouch__item {
    flex: 0 1 33.333%;
}
.item-getintouch {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transition: background-color 0.5s ease;
}
.item-getintouch:hover {
    background-color: #252B42;
}
.item-getintouch:hover .item-getintouch__icon svg path {
    fill: #fff;
}
.item-getintouch:hover .item-getintouch__emails {
    color: white;
}
.item-getintouch:hover .item-getintouch__label {
    color: white;
}
.item-getintouch > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
}
.item-getintouch__emails {
    text-align: center;
}
.item-getintouch__email {
    color: inherit;
    line-height: 171%;
    font-weight: 600;
    letter-spacing: 0.2;
}
.item-getintouch__email:hover {
    color: #FF7B47;
}
.item-getintouch__label {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-getintouch__button {
    border: solid 1px #FF7B47;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 44px;
    padding: 0 20px;
    color: #FF7B47;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.item-getintouch__button:hover {
    border-color: #fff;
    color: #fff;
}
/* --------------------------------------------------------------------------contactus */
.contactus {
    padding: 40px 0;
    background-color: #fff;
}
.contactus__content {
    padding: 0px 0px 20px 0px;
}
@media (min-width: 767px) {
    .contactus__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .contactus__content {
        padding: 0px 30px 0px 0px;
    }
}
.contactus__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin: 0px 0px 10px 0px;
}
.contactus__text {
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.contactus__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 58px;
    padding: 5px 40px;
    background-color: #FF7B47;
    transition: background-color 0.3s ease 0s;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0.2px;
    border-radius: 5px;
    color: #fff;
}
.contactus__button:hover {
    background-color: #252B42;
    cursor: pointer;
} 
/* --------------------------------------------------------------------------footer */
.footer__top {
    background-color: #17213C;
    padding: 30px 0;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.footer__column {
    flex: 0 1 16.667%;
    padding: 20px 15px;
}
.footer__column:last-child {
    flex: 0 1 33.334%;
}
@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
    }
}
@media (max-width: 700px) {
    .footer__column {
        flex: 0 1 50%;
    }
}
.footer__label {
    color: rgb(221, 221, 221);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.2px;
    margin: 0px 0px 20px 0px;
}
.menu-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.menu-footer__link {
    color: #fff;
    line-height: 171%;
    transition: color 0.3s ease;
}
.menu-footer__link:hover {
    color: #FF7B47;
}
.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item {
    display: flex;
    align-items: center;
    min-height: 30px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 0 0 0 34px;
    transition: color 0.3s ease;
}
.contacts-footer__item:hover {
    color: #FF7B47;
}
.contacts-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.contacts-footer__item_phone {
    background: url(../img/footer__1.svg) left no-repeat;
    color: #fff;
}
.contacts-footer__item_map {
    background: url(../img/footer__2.svg) left no-repeat;
    color: #fff;
}
.contacts-footer__item_email {
    background: url(../img/footer__3.svg) left no-repeat;
    color: #fff;
}
.footer__bottom {
    padding: 25px 0;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .footer__body {
        flex-direction: column;
        text-align: center;
    }
}
.footer__copy {
    line-height: 171%;
    color: #737373;
    letter-spacing: 0.2px;
}
.footer__copy:not(:last-child) {
    margin: 0px 0px 15px 0px;
}
.social {
    display: flex;
    align-items: center;
}
.social__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}
